<!-- takes in details of new post -->
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-1 text-center">
            
                <p><span class="boldtext">Author:</span> Debbie Thompson</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <!-- if there is an image for the post, add it to the post -->
                {% if post.image %}
                    <img class="img-blogpost" src="/media/{{ post.image }}">
                {% endif %}
                <!-- title of post -->
                <h3>{{ post.title }}</h3>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <!-- new post can be added in admin area of django only -->
                <!-- only certain things can added into posts database, title of post -->
                <!-- post description, actual post,  author name is always Debbie Thompson -->
                <p>{{ post.content }}</p>
                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{post.views}}</p>
                <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                <!-- goes back to url for all posts on main urls page in mathsplusrevision project page -->
                <a href="{% url 'get_posts' %}" class="btn btn-info">Back to Blog</a>
              
            </div>
                
        </div>
    </div>
    
{% endblock %}