body {
    font-family: arial;
    padding-top: 10px;
    background: transparent;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #5b0040;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


/*#aboutbanner {
    height: 50%;
    width: 100%;
    background-size: 50%;
    background-position: center;
    display: flex;
    justify-content: center;


}*/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

/*caption p {
    word-wrap: break-word;
}*/

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: #92a8d1;
    padding: 10px;
}

.panel-body {
    height: 50%;
    border: 10px solid #000;
}

.product-description {
    min-height: 20px;
}

.firstline {
    font-weight: bold;
    text-align: center;
}

.blogpageheading {
    font-weight: bold;
    text-align: center;
}

form {
    width: 50%;
}

.copyright {
    text-align: center;
}

/* The hero image for the about page */
.jumbotron {

    background: url("/media/images/rulerandpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbar {
    min-height: 20px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}