{% extends 'base.html' %}
{% block content %}

<div class="container-fluid parallax"></div>

<section class="mt-5 mb-5 pt-5 pb-5 text-center">
        <div class="container">
          <h1>Papers to help your child pass maths entrance exams</h1>
          <p class="lead text-muted">We aim to help your son or daughter pass their maths exam with confidence.</p>
          
        </div>
        <div class="container">
          <img src="/media/images/ecommerce-header.jpg" alt="Trulli" width="50%" height="30%">
        </div>


</section>
{% endblock %}