{% extends 'base.html' %}
{% block content %}

<div class="container-fluid parallax"></div>

<section class="mt-5 mb-5 pt-5 pb-5 text-center">
        <div class="container">
          
          <p class="firstline">We are a group of maths teachers who have had over 24 years experience teaching pupils taking the</p>
          <p class="firstline"> 11+, 13+ and 16+ entrance exams.  Our success rate using these papers has been 95%.</p>
          <br>   
        </div>
        <div class="container">

          <div id="aboutbanner">
            <img src='/media/images/ecommerce-header.jpg' alt="learning banner">
          </div>
          
        </div>

        <div class="container">
          <br>
          <p class="firstline">Company information:  Our registered address is MathsPlusRevision, 123 Abacus Street, </p>
          <p class="firstline">London, NW11MA.</p>
        </div>



</section>
{% endblock %}