{% extends "base.html" %}
{% block content %}
    <h2 style="text-align:center">Your Profile</h2>
    <h2>Good to see you!</h2>
    <p>You are logged in as {{ user.username }} </p>
    <p>Your email address is {{ user.email }}</p>
    <br>
    <div class="container">
        <p>Thank you for looking at our papers</p>
        <p>Maybe you have bought some.  If so, thank you.</p>
        <p>If not, then maybe next time there will be some new papers</p>
        <p>Either way, please do come back and check the site regularly</p>
    </div>
            
    
      
    
{% endblock %}